@media only screen and (min-width : 320px) and (max-width : 480px){
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
}

@media only screen and (max-width : 768px){
    .smallscreen{
        display: none;
    }
    form{
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    form input{
        font-size: 14px!important;
    }
}

@media only screen and (max-width : 900px){
    .carousel-inner{
        height: auto!important;
    }
    form{
        display: block;
        width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (min-width : 1200px){
    
}